
body {
    margin: 0;
    padding: 0;
    background: #FFFFFF url(/theme/images/bg.gif) repeat-x;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #555555;
    /*background-color: #E8EFF7;*/
    /*background-color: #F3F8FC;*/ /* blueback2 */
    /*background-color: #E8F0F9;*/
    background-color: #EEEEEE;

}

#body_content_left {
    width: 600px;
    float: left;
    margin-left: 30px;
}
#body_content_right {
    width: 275px;
    /*height: auto;*/
    float: right;
    margin-right: 20px;
    /*background-color: #E2EDEF;*/

}
#body_content_right img {
    border: 3px solid #c7c7c7;
}

#page {
    width: 100%;
    padding: 0px;
    margin: 0px;
}


h1, h2, h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #32639A;
}

h1 {
    font-size: 1.6em;
}

h2 {
    font-size: 2.2em;
}

h3 {
    font-size: 1.4em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

ul, ol {
}

a {
    text-decoration: none;
    color: #4486C7;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#wrapper {
    width: 960px;

    margin: 0 auto;
    margin-top: 5px;
    padding: 0;
    /* background: url(/theme/images/img08.jpg) no-repeat left top;*/
    background:none repeat scroll 0 0 white;
    display:inline-block;

    overflow:hidden;
    padding-left:10px;
    padding-right:10px;

    display:block;

    -moz-box-shadow:0 1px 15px #444444;
    -webkit-box-shadow: 0 1px 15px #444444;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
    /* For IE 5.5 - 7 */
    /*filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');*/
    /*width:910px;*/
}

/* Header */

#header {
    width: 940px;
    height: 80px;
    margin: 0 auto;
}

/* Logo */

#logo {
    float: left;
    height: 120px;
    margin: 0;
    /*padding-top: 10px;*/
    padding-left: 15px;
    margin-left: 10px;
    margin-top: 10px;
    color: #CCCECF;
    background:url(/theme/images/logo1.png) no-repeat;
    font-family: "Gentium", "Arial Unicode MS", serif;

}

#logo h1, #logo p {
    margin: 0;
    padding: 0;
}

#logo h1 {
    float: left;
    letter-spacing: -1px;
    text-transform: lowercase;
    font-size: 3.8em;
}

#logo p{
    float: left;
    margin: 0;
    padding: 45px 0 0 70px;
    font: normal 18px Gentium, "Arial Unicode MS", serif;
    font-style: normal;
    color: #888888;
} 

#logo a {
    border: none;
    background: none;
    text-decoration: none;
    color: #FF0000;
}

#body_content_page_title {
    padding-bottom: 8px;
    margin-left: 15px;
}

/* Search */

#search {
    float: right;
    width: 280px;
    height: 60px;
    padding: 20px 0px 0px 0px;
    background: #567EDC;
    border-bottom: 4px solid #FFFFFF;
}

#search form {
    height: 41px;
    margin: 0;
    padding: 10px 0 0 20px;
}

#search fieldset {
    margin: 0;
    padding: 0;
    border: none;
}

#search-text {
    width: 170px;
    padding: 6px 5px 2px 5px;
    border: none;
    background: #FFFFFF;
    text-transform: lowercase;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #5D781D;
}

#search-submit {
    width: 50px;
    height: 23px;
    border: 1px solid #A3C0FF;
    background: #A3C0FF;
    font-weight: bold;
    font-size: 10px;
    color: #246DFF;
}

.userbox  {
    background:url(/theme/images/bar-left.png) no-repeat scroll 0 0 transparent;
    float:right;
    font-size:12px;
    height:39px;
    padding-left:6px;
    margin-right: 10px;
}

.userbox .inner {
    background:url(/theme/images/bar-right.png) no-repeat scroll 100% 0 transparent;
    height:29px;
    padding:10px 12px 0 0px;
}

ul.usernav li {
    background:url(/theme/images/bar_separator.gif) no-repeat scroll 5px 0 transparent;
    display:inline;
    list-style-type:none;
    margin:0;
    padding:0 0 0 15px;
}



/* Menu */
#menulist {
    margin-top: 65px;
}

#menu, #menu ul {
    width: 960px;
    height: 35px;
    margin: 0 auto;
    /*margin-top: 60px;*/
    padding: 0;
    list-style: none;
    line-height: normal;
    background-position:0 -715px !important;
    /*background:url(/theme/images/menusprite.png) repeat-x scroll 0 -80px;*/
    /*display: block;*/

}



/*#menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: normal;

    background-position:0 -715px !important;
    background:url(/theme/images/menusprite.png) repeat-x scroll 0 -84px transparent;

}*/

ul.submenu li {
    float: left;
    /* display: inline;*/
    /*margin: 0;*/
    width: 106.6px;
    /*position: relative;*/
    /*background-position:0 -715px !important;*/
    /*background:url(/theme/images/submenu.png) repeat-x scroll 0 -84px;*/

}

ul.submenu li:hover {
    /*float: left;*/
    /*/* display: inline;
     margin: 0;
     width: 106.6px;
     /*position: relative;*/
    /*background-position:0 -715px !important;*/
    background:url(/theme/images/submenuhover.png) repeat-x scroll 0 -84px;

}

#menu li {
    float: left;
    /* display: inline;*/
    /*margin: 0;*/
    margin-top: -6px;
    width: 106.6px;
    /*position: relative;*/
    background-position:0 -715px !important;
    background:url(/theme/images/menusprite.png) repeat-x scroll 0 -84px;

    /*    background:url("/imgml/lev2/menusprite.png") no-repeat scroll 6px -1137px;
        border:medium none;
    display:block;
    */
    /*background:url(/theme/images/bar_separator.gif) no-repeat scroll 5px 0 transparent;
        display:inline;
        list-style-type:none;
        padding:0 0 0 15px;
    */
}

/*#menu li {

}
*/
#menu li ul
{
    /*margin:0px;
    padding:0px;*/
    /*display:none;*/
    position: absolute;
    width: 106.6px;
    left: -999em;

}

#menu li ul ul {
    margin: -33px 0 0 107.4px;
}

#menu li:hover ul ul {
    left: -999em;
}



#menu li:hover ul, #menu li li:hover ul
{
    /*display:block;
    width:110px;*/

    left: auto;


}

#menu li:hover ul ul, #menu li:hover ul ul ul {
    left: -999em;
}

#menu li:hover ul, #menu li li:hover ul, #menu li li li:hover ul {
    left: auto;
}

/*
#menu li ul li ul {
    margin-left: 120px;
    display: none;
    position: absolute;
}

#menu li ul li:hover ul {
    display: block;
    width: 110px;
}
*/


#menu a {
    display: block;
    width: 106.6px;
    height: 30px;
    padding-top: 10px;
    text-decoration: none;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-weight: bold;
    color: #FFFFFF;
    border: none;
}

#menu li a:hover, #menu .current_page_item a {
    margin-top: 5px;
    background: #CC0000 repeat-x left bottom;
    padding-top: 6px;
    height: 25px;
    margin-bottom: 4px;
    /*padding-bottom: 5px;*/
    /*background: #FF0033 url(/theme/images/img03.jpg) repeat-x left bottom;*/
    text-decoration: none;
}

#menu .current_page_item li a {
    background: #CC0000 repeat-x left bottom;
    padding-left: 0;
    color: #30476A;
}
/*
.leftcornerMenu {
    background-position:0 -630px !important;
    background:url(/theme/images/menusprite.png) repeat-y scroll 0 0 transparent;
}
.rightcornerMenu {
    background-position:0 -672px !important;
    background:url(/theme/images/menusprite.png) repeat-x scroll 0 -84px transparent;
}*/

/*
Clearfix docs
 - Main docs: http://positioniseverything.net/easyclearing.html
 - IE7 change: http://www.456bereastreet.com/archive/200603/new_clearing_method_needed_for_ie7/
*/
div.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
div.clearfix {
    display: inline-block;
}
/* Hide from IE Mac \*/
div.clearfix {
    /*zoom:1;*/
    display:block;
}
/* End hide from IE Mac */

/* Page */

#page {
    width: 940px;
    margin: 0 auto;
    padding: 0;
}

#page-bgtop {
    /* padding: 20px 0px;*/
}

#page-bgbtm {
}

/* Content */

#content {
    float: left;
    width: 100%;
    padding: 0px 20px 0px 20px;
}

.post {
    margin-bottom: 15px;
}

.post-bgtop {
}

.post-bgbtm {
}

.post .title {
    margin-bottom: 10px;
    padding: 12px 0 0 0px;
    letter-spacing: -.5px;
    color: #000000;
}

.post .title a {
    color: #32639A;
    border: none;
}

.post .meta {
    height: 30px;
    background: #D8E7FE;
    margin: 0px;
    padding: 0px 0px 0px 0px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: bold;
}

.post .meta .date {
    float: left;
    height: 24px;
    padding: 3px 15px;
    color: #4A81DE;
}

.post .meta .posted {
    float: right;
    height: 24px;
    padding: 3px 15px;
    background: #567EDC;
    color: #FFFFFF;
}

.post .meta a {
    color: #FFFFFF;
}

.post .entry {
    padding: 0px 0px 20px 0px;
    padding-bottom: 20px;
    text-align: justify;
}

.links {
    padding-top: 20px;
    font-size: 12px;
    font-weight: bold;
}

/* Sidebar */

#sidebar {
    float: right;
    width: 280px;
    padding-top: 160px;
    color: #787878;
}

#sidebar ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li {
    margin: 0;
    padding: 0;
    border-left: 1px solid #E2E2E2;
}

#sidebar li ul {
    margin: 0px 0px;
    padding-bottom: 30px;
}

#sidebar li li {
    line-height: 35px;
    border-bottom: 1px dashed #D1D1D1;
    margin: 0px 30px;
    border-left: none;
}

#sidebar li li span {
    display: block;
    margin-top: -20px;
    padding: 0;
    font-size: 11px;
    font-style: italic;
}

#sidebar h2 {
    height: 38px;
    padding-left: 30px;
    letter-spacing: -.5px;
    font-size: 1.8em;
}

#sidebar p {
    margin: 0 0px;
    padding: 0px 30px 20px 30px;
    text-align: justify;
}

#sidebar a {
    border: none;
}

#sidebar a:hover {
    text-decoration: underline;
    color: #8A8A8A;
}

/* Calendar */

#calendar {
}

#calendar_wrap {
    padding: 20px;
}

#calendar table {
    width: 100%;
}

#calendar tbody td {
    text-align: center;
}

#calendar #next {
    text-align: right;
}

/* Footer */

#footer {
    height: 40px;
    width: 980px;
    /*margin: 0 auto;*/
    /*padding: 0px 0 5px 0;*/
    margin-left: -10px;
    padding-bottom: -10px;
    /*background: #888888;*/
    /*background: #FFFFFF;*/
    background: #AAAEAF;
    border-top: 2px solid #CC2027;
    font-family: Arial, Helvetica, sans-serif;
}

#footer p {
    margin: 0;
    padding-top: 15px;
    line-height: normal;
    font-size: 10px;
    text-transform: uppercase;
    text-align: center;
    color: #FFFFFF;
    font-weight: bolder;
}

#footer a {
    color: #5389E0;
}

#gallery-background {
    width: 620px;
    height: 370px;
    margin-bottom: 10px;
    background: url(/theme/images/img05.jpg) no-repeat left top;
}

#gallery-bgthumb {
    width: 620px;
    height: 120px;
    background: #DBEDF9;
}

#gallery
{
    width: 620px;
    /*margin: 0 auto;*/
    margin-top: -25px;
}

#gallery img.output
{
    width: 600px;
    height: 340px;
    padding: 10px 0px 0px 10px;
}

#gallery span.caption
{
    display: block;
    margin: 1em 0 0 0;
    font-weight: bold;
    font-size: 1.25em;
}

#gallery span.caption2
{
    margin: 1em 0 1em 0;
    display: block;
}

#gallery ul.nav
{
    width: 100%;
    list-style: none;
    margin: 0 0 3em 0;
    padding: 0;
}

#gallery ul.nav li
{
    margin: 0 1em 1em 0;
    float: left;
}

#gallery ul.thumbnails
{
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 10px 0px 0px 6px;
}

#gallery ul.thumbnails li
{
    margin: 0 0.5em 1em 0.5em;
    float: left;
}

#gallery ul.thumbnails li img
{
    width: 128px;
    height: 88px;
    border: solid 6px #FFFFFF;
    cursor: pointer;
}

#gallery ul.thumbnails li img.active
{
    border: solid 6px #77D0EF;
}

#faqs {
    margin-top: 10px;
    padding: 5px 0 5px 45px;
    background-color: #e2edff;
}

.inquiries .field input, .inquiries textarea {
    border: 1px solid #75766f;
    margin-left: 0px;
}
.inquiries textarea {
    width: 375px;
}

#poll {
    float: right;
    width: 250px;
    padding-top: 10px;
    color: #787878;
}


/*NavBar CSS*/
#nav, #nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
    line-height: 1;
}

#nav a {
    display: block;
    width: 10em;
}

#nav li {
    float: left;
    width: 10em;
}

#nav li ul {
    position: absolute;
    width: 10em;
    left: -999em;
}

#nav li:hover ul {
    left: auto;
}

/*#nav li:hover ul, #nav li.sfhover ul {
	left: auto;
}*/


#nav li ul ul {
    margin: -1em 0 0 10em;
}

#nav li:hover ul ul, #nav li.sfhover ul ul {
    left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul {
    left: auto;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
    left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
    left: auto;
}

tr.even {
    background: #DBEDF9;
}

/*tr.odd {
    background: #FFFFFF;
}
*/
table.homepage {
    width: 620px;
    margin: 5px 0;
    padding: 0;
    border-bottom: 2px solid #DDDDDD;
    border-top: 2px solid #DDDDDD;
    border-collapse: collapse;
    
}

/*table.homepage tr {
    padding: 0.2em 0.5em;
    
}*/
table.homepage td {
    padding: 0.4em 1.5em;
    border: 0 solid transparent;
    
}

table.homepage a {
    color: #205090;
}

#message, #flash {
  padding: 8px 8px 8px 30px;
  margin-bottom: 15px;
  position: relative;
}
.flash_notice, .flash_message {
  border: 1px solid #00A017;
  color: #00A017;
  background: 7px 7px no-repeat url('/images/refinery/icons/accept.png') #E0F5E0;
}
.flash_notice, .flash_notice * {
  color: #00A017;
}
.flash_error {
  border: 1px solid #A00027;
  color: #A00027;
  background: 7px 7px no-repeat url('/images/refinery/icons/cancel.png') #FFB1B1;
}
#flash.flash_notice #flash_close, #flash.flash_error #flash_close {
  text-transform: lowercase;
}
#flash.flash_message {
  background: #E0F5E0;
  padding: 9px;
  position: relative;
  margin-bottom: 32px;
}
#flash.flash_message h2 {
  margin-top: 12px;
}
.flash_message, .flash_message * {
  color: #262719;
  font-size: 14px;
}
#flash a, #flash a:hover {
  color: #e20003;
  border-bottom-color: #e20003;
}
#flash.flash_error a, #flash.flash_error a:hover {
  display: none;
}
#flash a#flash_close {
  position: absolute;
  right: 9px;
  top: 7px;
}
#flash.flash_message a#flash_close {
  top: 21px;
}


